<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="5 seconds" debug="true">

	<!-- 项目名称 -->
    <property name="PROJECT_NAME" value="project" />

    <!--定义日志文件的存储地址-->
    <property name="LOG_HOME" value="my" />

    <!-- 控制台输出 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level是级别从左显示5个字符宽度，%msg是日志消息，%n是换行符-->
            <pattern>%n[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] [%-5level] %logger{50}%n%msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    
    <!-- 开发环境下的日志配置 -->
	<springProfile name="dev">
	    <root level="INFO"> 
			<appender-ref ref="console" />
		</root>
	</springProfile>
	
	<springProfile name="log">
	    <root level="INFO"> 
			<appender-ref ref="console" />
		</root>
	</springProfile>
	
</configuration>
